* {
    transition: .33s ease all;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.main {
    font-family: 'Questrial', sans-serif;
    box-sizing: border-box;
}

.main span {
    display: inline-block;
    width: 50px;
    height: 5px;
    background-color: #FF3434;
    margin-bottom: 30px;
}

div.main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.main div.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
}

.main .imag {
    width: 100%;
}

.main h1 {
    font-weight: 600;
    font-size: 36px;
    margin: 0 0 15px;
}

.main p {
    font-weight: 300;
    line-height: 24px;
    margin: 0 0 30px 0;
}

.main a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FF3434;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    display: inline-block;
    z-index: 1;
    padding: 5px;
    left: -5px;
}

.main a:hover {
    color: #FF3434;
}

.main a::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: calc(50%);
    left: 0;
    width: 100%;
    height: 40%;
    pointer-events: none;
    background: #80EDFF;
    transform: scale3d(0, 1, 1);
    transform-origin: 0% 50%;
    transition: transform 0.33s;
}

.main a:hover::before {
    transform: scale3d(1, 1, 1);
    transform-origin: 0% 50%;
}

.main div.imag {
    height: 300px;
    width: 100%;
    /* background: url("https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg"); */
    background-position: center;
    background-size: cover;
}

.main div.text-container {
    margin: 60px 45px 55px;
}

@media screen and (min-width: 768px) {
    .main div.container {
        flex-direction: row;
        width: 100%;
    }

    .main div.imag {
        height: 420px;
        min-width: 360px;
    }

    .main div.text-container {
        margin: 0 60px;
        max-width: 660px;
    }
}

@media screen and (min-width: 1024px) {
    .main div.container {
        max-width: 1200px;
    }
}